/*------------Basic styles-------------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1;
}

body {
  font-family: Montserrat;
  background: #fafafa;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1075px;
  margin: 0 auto;
  padding: 0 15px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------------Pages-------------*/
.hero {
  padding: 184px 0px 191px 0px;
  position: relative;
}
.hero__info {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.hero__title {
  max-width: 510px;
  color: #252b42;
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  letter-spacing: 0.2px;
}
.hero__subtitle {
  max-width: 376px;
  color: #737373;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.2px;
}
.hero__buttons {
  display: flex;
  gap: 10px;
}
.hero__button {
  padding: 10px 36px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 0.2px;
  border-radius: 37px;
  background-color: #ff7b47;
}
.hero__button-border {
  color: #0d5c63;
  background: transparent;
  border: 1px solid #0d5c63;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.hero img {
  -o-object-position: right;
     object-position: right;
}

.services__items {
  display: flex;
  margin: -110px 0px 0px 0px;
  gap: 30px;
}
.services__item {
  padding: 35px 40px;
  max-width: 328px;
  background: #fff;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.item-services {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.item-services__title {
  color: #252b42;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.item-services__subtitle {
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
}

/*=====================*/
/*==========STATISTICS===========*/
.statistics__header {
  padding-top: 80px;
}
.statistics__items {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
.statistics__item {
  background: #fff;
}

.item-statistics {
  padding: 30px 40px;
  text-align: center;
  background: #FFF;
}
.item-statistics__number {
  margin: 10px 0px;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.2px;
}
.item-statistics__text {
  color: #737373;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

/*------------Components-------------*/
.header__container {
  display: flex;
  min-height: 104px;
  align-items: center;
}
.header__logo {
  margin-right: 132px;
}
.menu__icon {
  display: none;
}
.menu__list {
  display: flex;
  gap: 21px;
}
.menu__link {
  color: #737373;
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
}

.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.title {
  max-width: 610px;
  color: #252b42;
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.2px;
  text-align: center;
}

.subtitle {
  max-width: 510px;
  color: #737373;
  font-size: 14px;
  font-weight: 500;
  line-height: 143%;
  letter-spacing: 0.2px;
  text-align: center;
}

/*------------Media-----------------*/
/*PC*/
/*============================*/
/*TABLET*/
@media (max-width: 991.98px) {
  .hero {
    padding: 150px 0px 191px 0px;
  }
  .hero__background img {
    opacity: 0.4;
  }
  .services__items {
    flex-direction: column;
    align-items: center;
  }
  .services__item {
    text-align: center;
    width: 80%;
    max-width: none;
  }
}
.statistics__items {
  display: grid;
  justify-content: center;
  gap: 40px;
  grid-template-columns: repeat(2, 230px);
}

/*============================*/
/*MOBILE*/
@media (max-width: 767.98px) {
  .header__logo {
    margin-right: 70px;
  }
  .hero {
    padding: 130px 0px 150px 0px;
  }
  .hero__info {
    text-align: center;
    align-items: center;
    gap: 30px;
  }
  .hero__title {
    max-width: none;
    font-size: 46px;
  }
  .hero__subtitle {
    font-size: 18px;
  }
  .services__items {
    margin-top: -80px;
  }
  .services__item {
    width: 100%;
  }
  .statistics__items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .item-statistics__number {
    margin: 5px 0px;
  }
}
/*============================*/
/*MOBILE SMALL*/
@media (max-width: 479.98px) {
  .title {
    font-size: 32px;
  }
  .subtitle {
    font-size: 12px;
  }
  .header__logo {
    position: relative;
    z-index: 2;
  }
  .menu {
    margin-left: auto;
  }
  .menu__icon {
    margin-right: 15px;
    display: block;
    position: relative;
    z-index: 5;
    width: 37px;
    height: 24px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon::before, .menu__icon::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    background-color: #252b42;
    transition: all 0.2s ease-in-out;
  }
  .menu__icon span {
    top: 50%;
    transform: translateY(-50%);
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon.__active span {
    opacity: 0;
  }
  .menu__icon.__active::before {
    transform: rotate(45deg) translateX(40%);
  }
  .menu__icon.__active::after {
    transform: rotate(-45deg) translateX(40%);
  }
  .menu__body {
    padding: 215px 0px 0px 0px;
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    background-color: #e4e1e1;
  }
  .menu__body.__active {
    top: 0;
  }
  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .menu__link {
    font-size: 28px;
  }
  .hero__info {
    gap: 25px;
  }
  .hero__title {
    font-size: 40px;
  }
  .hero__buttons {
    flex-direction: column;
    gap: 15px;
  }
  .item-services {
    gap: 5px;
  }
  .item-services__title {
    font-size: 22px;
  }
  .item-services__subtitle {
    font-size: 12px;
  }
}
/*============================*/