/*PC*/
@media (max-width: 1087px) {
}
/*============================*/
/*TABLET*/
@media (max-width: 991.98px) {
}
/*============================*/
/*MOBILE*/
@media (max-width: 767.98px) {
  .header {
    &__logo {
      margin-right: 70px;
    }
  }
}
/*============================*/
/*MOBILE SMALL*/
@media (max-width: 479.98px) {
  .header {
    &__logo {
      position: relative;
      z-index: 2;
    }
  }
  .menu {
    margin-left: auto;

    &__icon {
      margin-right: 15px;
      display: block;

      position: relative;
      z-index: 5;
      width: 37px;
      height: 24px;
      cursor: pointer;

      & span,
      &::before,
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;

        background-color: #252b42;
        transition: all 0.2s ease-in-out;
      }

      & span {
        top: 50%;
        transform: translateY(-50%);
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      &.__active span {
        opacity: 0;
      }
      &.__active::before {
        transform: rotate(45deg) translateX(40%);
      }
      &.__active::after {
        transform: rotate(-45deg) translateX(40%);
      }
    }

    &__body {
      padding: 215px 0px 0px 0px;
      position: fixed;
      top: -100%;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 0.6s ease;

      &.__active {
        top: 0;
      }

      background-color: rgb(17, 17, 48);
    }

    &__list {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &__link {
      font-size: 28px;
    }
  }
}
/*============================*/
